version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: todoapp_mysql
    env_file:
      - .env
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: todoapp_flask
    env_file:
      - .env
    ports:
      - '5000:5000'
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - .:/app
    working_dir: /app

volumes:
  mysql_data:
